.header {
    height: 200px;
    background:
    linear-gradient(
      rgba(0,0,0,.3),rgba(0,0,0,.3)
    ),
    url(https://73c166dfsi.execute-api.us-east-1.amazonaws.com/prod/thumborVerify?h=orig&amp;w=orig&amp;u=https%3A%2F%2Fduisktnou8b89.cloudfront.net%2Fimg%2Fstores%2F5b745ec706833.jpeg) no-repeat;

    background-size: cover;
    background-position: center;
}

.header img {
    border-radius: 10px;
}

.image-container {
    display: flex;
    column-gap: 10px;
}

.header :nth-child(1) {
    display: flex;
    justify-content: space-around;
}

.unities {
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
}