select {
    border: none;
    background: transparent;
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 500;
    width: 300px;
}

ul {
    height: 200px;
    width: 18%;
}

ul {
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 12px;
}

li {
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.line {
    background: #dfdfdf;
    height: 1px;
    width: 90%;
}