.btn-header {
    border: none;
    background-color: transparent;
    color: #fff;
    max-height: 35px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    font-size: 30px;
    column-gap: 5px;
}

.btn-header:hover {
    animation-duration: 1s;
    background: #9d9d9db8;
    cursor: pointer;
}